<% if user_signed_in? %>

        <div class="col-xs-relleno">
        <!-- Espacio relleno debajo menu principal -->
        </div>
        <div class="row">

              <div class="col-xs-blanco">
              </div>

              <div class="col-xs-reciclaje">
                <div class="imagen_boton2">
                <%= image_tag "r.png", :alt => "Manejo y Gesti贸n de Residuos S贸lidos", :title => "Manejo y Gesti贸n de Residuos S贸lidos"%>  
                </div>      
              </div>
              <div class="col-xs-titulo">
              <h4><strong> Manejo y Gesti&oacute;n de Residuos S&oacute;lidos</strong></h4>
              </div>
              
              <!-- Espacio entre el titulo y primer boton -->
              <div class="col-xs-espacio">
              </div>
              
                           
              <div class="col-xs-1">
                <button type="button" class="btn btn-default">Actualizar</button> 
              </div>
        </div>

             
              <div class="hr">
              </ul>

            

    
    </header>


  <p class='notice'><%= notice %></p>
  <p class='alert'><%= alert %></p>

  <%= yield %>


    <% end %> 