<%= render :partial => "lineas/menuinstitucional" %>
<div class="col-xs-contenido">

<div class="col-xs-standar">
<div class="col-xs-standar">
      

        <div class="col-xs-menu">
          <%= button_to 'Crear', new_user_registration_path(resource_name), :class => 'btn btn-default'  %> 
        </div>

        <div class="col-xs-menu1">
        </div>

        <div class="col-xs-menu">
          <strong>Filtro:</strong>
        </div>

        <div class="col-xs-menu0">
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1" checked="checked"> Activas
            </label>
          </br>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Inactivas
          </label>
        </div>

      
        <div class="col-xs-menu2">
            <select class="form-control" >
              <option value="value1" selected>Todas las Sedes</option> 
              <option value="value2">Institucional</option>
              <option value="value3">Medellin</option>
            </select>
        </div>
      


        <div class="col-xs-menu2">
        <input type="search" class="form-control" placeholder="Buscar">
        </div>

        <div class="col-xs-menu1">
        </div>

        <div class="col-xs-menu">
        <button type="button" class="btn btn-default">Descargar</button>
        </div>
</div>
</div> <!--CIERRE standar-->

<div class="col-xs-absolute">
<table class="table table-hover">
  <tr>

  		<td> <strong> Información </strong></td>
  		<td> <strong> Descripción </strong></td>
  		<td> <strong> Sede </strong></td>
  		<td> <strong> Usuarios Responsables </strong></td>
  		<td> <strong> Periodicidad </strong></td>
      <td> <strong> A/I </strong></td>
  		
  </tr>

  <tr>
  		<td>Visión Ambiental</td>
  		<td>Se incluye o actualiza la visión ambiental institucional</td>
  		<td>Institucional </td>
  		<td>Especialista Gestión Ambiental</td>
  		<td>Mensual</td>
      <td> Activo </td>
  </tr>

 <tr>
      <td>Número Estudiantes Pregrado y posgrados</td>
      <td>Se incluye el número de estudiantes matriculados financiera y académicamente en el periodo solicitado</td>
      <td>Todas las Sedes </td>
  		<td>Coord. Resgistro y Control Académico Sedes</td>
  		<td>Mensual</td>
      <td> Activo </td>
  </tr>

<tr>
      <td>Número Metros Cuadrados Area construida Sede</td>
      <td>Se incluye o actualiza el número total de metros cuadrados construidos disponibles para uso sin importar el tipo de posesión del inmueble</td>
      <td>Todas las Sedes </td>

  		<td>Coord. Infraestructura Sedes</td>
  		<td>Mensual</td>
      <td> Activo </td>
  </tr>

<tr>
  		<td>Misión Ambiental</td>
  		<td>Se incluye o actualiza la Misión ambiental institucional</td>
  		<td>Institucional </td>
  		<td>Especialista Gestión Ambiental</td>
  		<td>Anual</td>
      <td> Activo </td>
  </tr>

<tr>
      <td>Número Empleados Administrativos</td>
      <td>Se incluye el número de Empleados Administrativos en el periodo solicitado</td>
      <td>Todas las Sedes </td>
  		<td>Coord. Gestión Humana Sedes</td>
  		<td>Mensual</td>
      <td> Activo </td>
  </tr>

<tr>
      <td>Número Metros Cuadrados Area actualmente en construcción Sede</td>
      <td>Se incluye o actualiza el número total de metros cuadrados en construcción que serán disponibles para uso sin importar el tipo de posesión del inmueble</td>
      <td>Todas las Sedes </td>

  		<td>Coord. Infraestructura Sedes</td>
  		<td>Mensual</td>
      <td> Activo </td>
</tr>

</table>
</div>
</div>
</div><!--CONTENIDO-->