<%= render :partial => "lineas/menuzonasv" %>
<div class="row" border="1">
      
        

        <div class="col-xs-menu">
          <button type="button" class="btn btn-default">Crear</button> 
        </div>

        <div class="col-xs-menu1">
        </div>

        <div class="col-xs-menu">
          <strong>Filtro:</strong>
        </div>

        <div class="col-xs-menu0">
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Activos
            </label>
          </br>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Inactivos
          </label>
        </div>

      
        <div class="col-xs-menu2">
        <select class="form-control" >...</select>
        </div>
      


        <div class="col-xs-menu2">
        <input type="search" class="form-control" placeholder="Buscar">
        </div>

        <div class="col-xs-menu1">
        </div>

        <div class="col-xs-menu">
        <button type="button" class="btn btn-default">Descargar</button>
        </div>
</div>
