<%= render :partial => "configuracion/menuconfiguracion" %>

<div class="col-xs-contenido">

<div class="col-xs-standar">
  <div class="col-xs-menu"> <div class="titulo-menu"><strong> SEDES: </strong></div>
  </div>
  <div class="col-xs-standar">
      

        <div class="col-xs-menu">
          <%= button_to 'Crear', new_sede_path, :class => 'btn btn-default'  %> 
        </div>

        <div class="col-xs-menu1">
        </div>

        <div class="col-xs-menu">
          <strong>Filtro:</strong>
        </div>

        <div class="col-xs-menu0">
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1" checked="checked"> Activas
            </label>
          </br>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Inactivas
          </label>
        </div>

      
        <div class="col-xs-menu2">
            <select class="form-control" >
              <option value="value1" selected>Todas las Sedes</option> 
              <option value="value2">Institucional</option>
              <option value="value3">Medellin</option>
            </select>
        </div>
      


        <div class="col-xs-menu2">
        <input type="search" class="form-control" placeholder="Buscar">
        </div>

        <div class="col-xs-menu1">
        </div>

        <div class="col-xs-menu">
        <button type="button" class="btn btn-default">Descargar</button>
        </div>
  </div>
</div> <!--CIERRE SUBMENU-->


</div><!--CONTENIDO-->