<% if user_signed_in? %>

<%= render :partial => "welcome/menualertas" %>


<div class="col-xs-alerts">

  <div class="col-xs-blanco">
  </div>

    <div class="col-xs-standar">
		<div class="bs-callout bs-callout-zonasv">
		  <h4>Warning Callout</h4>
		  This is a warning callout.
		</div>

		<div class="bs-callout bs-callout-zonasv">
		  <h4>Warning Callout</h4>
		  This is a warning callout.
		</div>

		<div class="bs-callout bs-callout-zonasv">
		  <h4>Warning Callout</h4>
		  This is a warning callout.
		</div>
		<div class="bs-callout bs-callout-zonasv">
		  <h4>Warning Callout</h4>
		  This is a warning callout.
		</div>
   </div>

</div>


<% end %>

