<% if user_signed_in? %>

<%= render :partial => "welcome/menualertas" %>

<div class="col-xs-contenido">
<div class="col-xs-standar3">
</div>
	<div class="col-xs-recuadro">

<div class="col-xs-standar">
	Consumo Energía de la Sede
</div>













</div>

<div class="col-xs-recuadro">















</div>




</div>


<% end %>

