// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*# reglas Ecos */

.imagen_boton img {
   position: relative;
   width: auto;
   height: 50px;
   border: 0px;
   left: 0px; 
   top: 0px;
  }



  /*# recuadro Logo */
.col-xs-e {
    float:left;
    width: auto;
    height: 50px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
  }


/*# recuadro decoracion */
.col-xs-deco {
    float:left;
    width: auto;
    height: 50px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
  }


  /*# recuadro Logo */
.col-xs-deco2 {
    float:left;
    width: auto;
    height: 50px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
  }


 /*# recuadro institucional */
.col-xs-i {
    float:left;
    width: 50px;
    height: 50px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
    
  }


  /*# recuadro Zonas verdes */
.col-xs-h {
    float:left;
    width: 50px;
    height: 50px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
    
  }


  /*# recuadro Energia */
  .col-xs-b {
    float:left;
    width: 50px;
    height: 50px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
    
  }


  /*# recuadro Agua */
  .col-xs-a {
    float:left;
    width: 50px;
    height: 50px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
    
  }

  /*# recuadro Reciclaje */
  .col-xs-r {
    float:left;
    width: 50px;
    height: 50px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
    
   }


/*# recuadro compras verdes */
  .col-xs-co {
    float:left;
    width: 50px;
    height: 50px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
    
    
  }


   /*# recuadro Otras Actividades */  
  .col-xs-o {
    float:left;
    width: 50px;
    height: 50px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
    
    
  }


/*# recuadro Alertas */  
  .col-xs-al {
    float:left;
    width: 50px;
    height: 50px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
    
    
  }

/*# recuadro Consultas e informes */  
  .col-xs-ci {
    float:left;
    width: 50px;
    height: 50px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
    
    
  }


/*# recuadro salir */
.col-xs-s {
    float:right;
    width: 50px;
    height: 50px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
    
    
  }
  
  .col-xs-c {
    float:right;
    width: 50px;
    height: 50px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
   
    
  }

  /*# recuadro informacion del usuario */
  .col-xs-u {
    float:right;
    width: auto;
    height: 50px;
    border: 0px solid #FFFFFF;
    margin: 3px;
    padding: -10px;
    text-align: right;
    color: #FFFFFF;
    
  }
  
  /*# recuadro decoracion alineacion derecha */
.col-xs-er {
    float:right;
    width: auto;
    height: 50px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
  }



/* COLORES DE LOS BOTONES*/

/*
.col-xs-i {
background-color: #0FB2BC;
}

.col-xs-h {
background-color: #B2C740;
}

.col-xs-b {
background-color: #F4E830;
}

.col-xs-a {
background-color: #50B3E5;
}

.col-xs-r {
background-color: #E68638;
}

.col-xs-co {
background-color: #46B648;
}

.col-xs-o {
background-color: #8F994E;
}

.col-xs-al {
background-color: #FFD41D;
}

.col-xs-ci {
background-color: #C4B265;
} 

.col-xs-c {
 background-color: #0FB2BC;
}

.col-xs-s {
background-color: #D61F26;
}

*/





/* COLORES E IMAGENES INSTITUCIONALES DEL CLIENTE*/
   .col-xs-i:hover,
   .col-xs-h:hover,
   .col-xs-b:hover,
   .col-xs-a:hover,
   .col-xs-r:hover,
   .col-xs-o:hover,
   .col-xs-co:hover,
   .col-xs-al:hover,
   .col-xs-ci:hover,
   .col-xs-c:hover{
   color: #17819C;
  background-color: #17819C;
  border-color: #17819C;
  border-bottom-width: 2px;
  border-bottom-style: Solid;
  border-bottom-color: #FFFFFF;
  }

  .col-xs-s:hover {
   color: #D61F26;
  background-color: #D61F26;
  border-color: #D61F26;
  border-bottom-width: 2px;
  border-bottom-style: Solid;
  border-bottom-color: #FFFFFF;
  }



/* .col-xs-o:focus {
   color: #17819C;
  background-color: #17819C;
  border-color: #FFFFFF;
  }*/



  /*barra menu*/
.navbar-ecos {
  background-color: #09343F;
  border-color: #09343F;
}


  .barra-menu{
    margin-right: 0px;
    margin-left: 0px;
    height: 66px;
    width: auto; 
    max-height: 500px;
    border: 0px solid #FFFFFF;


  }


.row-e:before,
.row-e:after
  {
  display: table;
  content: " ";
}