// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





/*---------------INICIA BARRA DE MENU PRINCIPAL ECOS ----------------------------*/

/*# reglas Ecos */

.imagen_boton img {
   position: relative;
   width: auto;
   height: 40px;
   border: 0px;
   left: 0px; 
   top: 0px;
  }



  /*# recuadro Logo */
.col-xs-e {
    float:left;
    width: auto;
    height: 40px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
  }


/*# recuadro decoracion */
.col-xs-deco {
    float:left;
    width: auto;
    height: 40px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
  }


  /*# recuadro Logo */
.col-xs-deco2 {
    float:left;
    width: auto;
    height: 40px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
  }


 /*# recuadro institucional */
.col-xs-i {
    float:left;
    width: 40px;
    height: 40px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
    
  }


  /*# recuadro Zonas verdes */
.col-xs-h {
    float:left;
    width: 40px;
    height: 40px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
    
  }


  /*# recuadro Energia */
  .col-xs-b {
    float:left;
    width: 40px;
    height: 40px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
    
  }


  /*# recuadro Agua */
  .col-xs-a {
    float:left;
    width: 40px;
    height: 40px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
    
  }

  /*# recuadro Reciclaje */
  .col-xs-r {
    float:left;
    width: 40px;
    height: 40px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
    
   }


/*# recuadro compras verdes */
  .col-xs-co {
    float:left;
    width: 40px;
    height: 40px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
    
    
  }


   /*# recuadro Otras Actividades */  
  .col-xs-o {
    float:left;
    width: 40px;
    height: 40px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
    
    
  }


/*# recuadro Alertas */  
  .col-xs-al {
    float:left;
    width: 40px;
    height: 40px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
    
    
  }

/*# recuadro Consultas e informes */  
  .col-xs-ci {
    float:left;
    width: 40px;
    height: 40px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
    
    
  }


/*# recuadro salir */
.col-xs-s {
    float:right;
    width: 40px;
    height: 40px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
    
    
  }
  
   /*# recuadro configuración */
  .col-xs-c {
    float:right;
    width: 40px;
    height: 40px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
   
    
  }

  /*# recuadro informacion del usuario */
  .col-xs-u {
    float:right;
    width: auto;
    height: 40px;
    border: 0px solid #FFFFFF;
    margin: 6px;
    padding: -10px;
    text-align: right;
    color: #FFFFFF;
    
  }
  
  /*# recuadro decoracion alineacion derecha */
.col-xs-er {
    float:right;
    width: auto;
    height: 40px;
    border: 0px solid #FFFFFF;
    margin: 8px;
    padding: -10px;
  }






/* COLORES E IMAGENES INSTITUCIONALES DEL CLIENTE*/

   .col-xs-i:hover,
   .col-xs-h:hover,
   .col-xs-b:hover,
   .col-xs-a:hover,
   .col-xs-r:hover,
   .col-xs-o:hover,
   .col-xs-co:hover,
   .col-xs-al:hover,
   .col-xs-ci:hover,
   .col-xs-c:hover{
   color: #17819C;
  background-color: #17819C;
  border-color: #17819C;
  border-bottom-width: 2px;
  border-bottom-style: Solid;
  border-bottom-color: #FFFFFF;
  }

  .col-xs-s:hover {
   color: #D61F26;
  background-color: #D61F26;
  border-color: #D61F26;
  border-bottom-width: 2px;
  border-bottom-style: Solid;
  border-bottom-color: #FFFFFF;
  }



/* .col-xs-o:focus {
   color: #17819C;
  background-color: #17819C;
  border-color: #FFFFFF;
  }*/



  /*barra menu*/
.navbar-ecos {
  background-color: #09343F;
  border-color: #09343F;
}


  .barra-menu{
    margin-right: 0px;
    margin-left: 0px;
    height: 46px;
    width: auto; 
    max-height: 500px;
    border: 0px solid #FFFFFF;


  }


.row-e:before,
.row-e:after
  {
  display: table;
  content: " ";
}


/* ---------------------------FIN MENU PRINCIPAL ----------------------------*/





/*------------POSICION RELATIVA DE LA ETIQUETA NUMEROS BOTON ALERTAS--------*/


.alerta-kbd {
  position: relative;
  top: -11px;
  left: 25px;
  color: #FFFFFF;
  background: #FF0000;
  width: 15px;
  height: 13px;
  border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;
border: 0px solid #FFFFFF;
}

.texto-kbd {
  position: relative;
  top: -3px;
  color: #FFFFFF;
  font-size: 11px;
  text-align: center;

  top: 0px;
}

/*------------FIN POSICION RELATIVA DE LA ETIQUETA NUMEROS BOTON ALERTAS--------*/





/*--------------------- BARRAS VERTICALES IZQUIERDAS PROGRAMAS REDUCE TU HUELLA -----------------------------*/


.programa {
  position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
  left: -40px; /* Establecemos la barra en la izquierda */
  top: 180px; /* Bajamos la barra 200px de arriba a abajo */
  z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 
  .programa ul {
    list-style: none;
  }
 
  .programa ul li a {
    display: inline-block;
    color:#fff;
    background: #000;
    padding: 5px 10px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
  }
 
  .programa ul li .icono-programa1 {background:#24C0D6;} /* Establecemos los colores de cada red social, aprovechando su class */
  .programa ul li .icono-programa2 {background: #24C0D6;}
  .programa ul li .icono-programa3 {background: #24C0D6;}
  
 
  .programa ul li a:hover {
    background: #93C03D; /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 5px 15px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
     border-right-width: 8px;
     border-right-style: Solid;
     border-right-color: #24C0D6;
  }

  .imagen_huella img {
   position: relative;
   width: auto;
   height: 40px;
   border: 0px;
   left: 0px; 
   top: 0px;
  }

  /*---------------TERMINA VERTICALES IZQUIERDAS PROGRAMAS REDUCE TU HUELLA ----------------------------*/



 




/*---------------INICIO MENU CADA PROGRAMA ----------------------------*/


.col-xs-blanco { /*---Espacio en blanco entre el borde izquierdo al inicio del icono----*/
    float:left;
    border: 1px solid #FFFFFF;
    height: auto;
    width: 90px;
}


.col-xs-titulo { /*---titulo programa----*/
    float: left;
    width: auto;
    height: auto;
    vertical-align: bottom;
    border: 0px solid #000000;
    padding:0px;
}





.col-xs-menu {
    float:left;
    width: auto;
    height: 45px;
    border: 0px solid #000000;
    margin: 0px;
    padding: 4px;
    padding-right: 10px;
    border-bottom-width: 1px;
    border-bottom-style: Solid;
    border-bottom-color: #C3C3C3;
    border-top-width: 1px;
    border-top-style: Solid;
    border-top-color: #C3C3C3;
    background-color:#EFEFEF;
    
 }

.col-xs-menu0 {
    float:left;
    width: auto;
    height: 45px;
    border: 0px solid #000000;
    margin: 0px;
    padding: 0px;
    top: -5px;
    padding-right: 10px; 
    border-bottom-width: 1px;
    border-bottom-style: Solid;
    border-bottom-color: #C3C3C3;
    border-top-width: 1px;
    border-top-style: Solid;
    border-top-color: #C3C3C3;
    background-color:#EFEFEF;
}


.col-xs-menu2 {
    float:left;
    border: 0px solid #000000;
    height: 45px;
    width: 200px;
    vertical-align: middle;
    padding: 4px;
    border-bottom-width: 1px;
    border-bottom-style: Solid;
    border-bottom-color: #C3C3C3;
    border-top-width: 1px;
    border-top-style: Solid;
    border-top-color: #C3C3C3;
    background-color:#EFEFEF;
}

.col-xs-menu1 {
    float:left;
    border: 0px solid #000000;
    height: 45px;
    width: 20px;
    padding: 4px;
    border-bottom-width: 1px;
    border-bottom-style: Solid;
    border-bottom-color: #C3C3C3;
    border-top-width: 1px;
    border-top-style: Solid;
    border-top-color: #C3C3C3;
    background-color:#EFEFEF;

}






















/*---ESPACIO EN BLANCO ENTRE EL BORDE IZQUIERDO AL INICIO DEL CONTENIDO PAGINA----*/
.col-xs-blanco1 {
    float:left;
    border: 0px solid #000000;
    height: 440px;
    width: 90px;
}


.imagen_boton2 img {
   position: relative;
   width: auto;
   height: 30px;
   border: 0px solid #000000;
   left: 0px; 
   top: 0px;
  }



.col-xs-espacio {
    float:left;
    border: 0px solid #000000;
    height: 30px;
    width: 30px;
}

/*--- CELDA SIN TAMAÑO SIN PADING ARRIBA--*/
.col-xs-standar {
    float:left;
    width: auto;
    height: auto;
    padding-right: 10px;
    padding-top: 0px;
    border: 0px solid #000000;
    top: 0px;
}

 .col-xs-standar2 {
    float:left;
    width: auto;
    height: auto;
    padding-right: 10px;
    padding-top: 10px;
    border: 0px solid #000000;       
 }

.col-xs-absolute {
    position: absolute;
    width: auto;
    height: auto;
    top: 80px;
    left: 0;       
 }

 /*--- CELDA SIN TAMAÑO CONTENIDO VISTAS--*/
.col-xs-contenido {
    position: relative;
    top: -63px;
    left: 90px; 
    border: 0px solid #000000;
    width: auto;
    height: auto;
    padding-right: 10px;
}

.col-xs-submenu{
position: left;
width: auto;
height: auto;
left: 15px;
 padding-bottom: 10px; 
}

.col-xs-tabla{
float:left;
width: auto;
height: auto;
padding-top: 15px;
}

.col-xs-recuadro{
float: left;
color: #000000;
border-bottom-color: #B2C740;
border-bottom-width: 10px;
border-bottom-style: Solid;
  width: 700px;
  height: 250px;
  border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;
border: 1px solid #CECECE;
padding-bottom: 15px;
}




.col-xs-contenido_conf {
    float:left;
    border: 0px solid #000000;
    width: auto;
    height: auto;
    padding-right: 10px;
}




/*---------------FINALIZA MENU CADA PROGRAMA ----------------------------*/





/*----------------- INICIA ICONOS LINEAS AMBIENTALES -------------------*/



/*--ICONO INSTITUCIONAL ---*/

.col-xs-institucional {
    float:left;
    width: 30px;
    height: 30px;
    border: 0px solid #FFFFFF;
    background-color: #0FB2BC;
    margin: 3px;
    padding: 0px;
}

/*--ICONO ZONAS VERDES ---*/

.col-xs-zonasv {
    float:left;
    width: 30px;
    height: 30px;
    border: 0px solid #FFFFFF;
    background-color: #B2C740;
    margin: 3px;
    padding: 0px;
}

/*--ICONO AGUA ---*/

.col-xs-agua {
    float:left;
    width: 30px;
    height: 30px;
    border: 0px solid #FFFFFF;
    background-color: #50B3E5;
    margin: 3px;
    padding: 0px;
}


/*--ICONO ENERGIA ---*/

.col-xs-energia {
    float:left;
    width: 30px;
    height: 30px;
    border: 0px solid #FFFFFF;
    background-color: #F4E830;
    margin: 3px;
    padding: 0px;
}


/*--ICONO RECICLAJE ---*/

.col-xs-reciclaje {
    float:left;
    width: 30px;
    height: 30px;
    border: 0px solid #FFFFFF;
    background-color: #E68638;
    margin: 3px;
    padding: 0px;
}


/*--ICONO COMPRAS VERDES ---*/

.col-xs-comprasv {
    float:left;
    width: 30px;
    height: 30px;
    border: 0px solid #FFFFFF;
    background-color: #00B906;
    margin: 3px;
    padding: 0px;
}


/*--ICONO OTRAS ACTIVIDADES---*/

.col-xs-otras {
    float:left;
    width: 30px;
    height: 30px;
    border: 0px solid #FFFFFF;
    background-color: #8F994E;
    margin: 3px;
    padding: 0px;
}

/*--ICONO ALERTAS---*/

.col-xs-alertas {
    float:left;
    width: 30px;
    height: 30px;
    border: 0px solid #FFFFFF;
    background-color: #FFCC00;
    margin: 3px;
    padding: 0px;
}


/*--ICONO CONFIGURACION ---*/

.col-xs-conf {
    float:left;
    width: 30px;
    height: 30px;
    border: 3px solid #FFFFFF;
    background-color: #0FB2BC;
    margin: 3px;
    padding: 0px;
}


/*----------------- FINALIZA ICONOS LINEAS AMBIENTALES -------------------*/

/*----------------- INICIA TITULOS MENUS -------------------*/

.titulo-menu{
  font-size: 18px;

}


/*----------------- FINALIZA TITULOS MENUS -------------------*/

.row{

  border: 0px solid #000000;
  width: auto;
  height: auto;
}

.col-xs-standar3 {
    float:left;
    width: 700px;
    height: 45px;
    padding-right: 10px;
    padding-top: 10px;
    border: 0px solid #000000;       
 }

 .submenu-fixed {
    float:left;
    width: 100%;
    height: auto;
    padding-right: 10px;
    padding-top: 10px;
    border: 0px solid #000000;       
 }



 .barra-color{
  position: relative;
  top: 53px;
    margin-right: 0px;
    margin-left: 0px;
    height: 7px;
    width: auto; 
    max-height: 14px;
    border: 0px solid #FFFFFF;
    background-color: #FFD41D;
    border-color: #24C0D6;
}




hr { 
  background-color: black;
  height: 10px;
  width: 50%;
}





/* ---------------------- RECUADROS ALERTAS --------------------*/


.bs-callout {
    padding: 5px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-zonasv {
    border-left-color: #09343F;

    width: 100%;
}

.col-xs-alerts{
  float:left;
    width: 100%;
    height: auto;
    padding-top: 0px;
    border: 0px solid #000000;
    top: 0px;
}


.imagen_ingreso img {
   
  position: relative;
 
   width: auto;
   height: 94%;
   border: 0px;
   top: 0px;
   left: 0px;
   
  }

.imagen_LogoEcos img {
   
  position: relative;

   width: 50%;
   height: auto;
   border: 0px;
    
    text-align: center;
   
  }

.text-center {
text-align: center;
}

.titulo_ingreso{
text-align: center
}

/* ---------------------- POSICION ABSOLUTA SUBMENUS --------------------*/

.col-xs-relleno {
    float:left;;
    width: 100%;
    height: 63px;
    padding-right: 10px;
    padding-top: 0px;
    border: 0px solid #000000;
    
  }